.about-container {
    width: 1300px; /* Increase the maximum width */
    margin: 0 auto;
    padding: 40px; /* Increase padding for more space around content */
  }
  
  .about-container h1,
  .about-container h2 {
    color: #007bff; /* Blue color */
    font-size: 32px; /* Increase font size */
  }
  
  .about-container p,
  .about-container ul {
    color: #060606; /* Black color */
    font-size: 20px; /* Increase font size */
    line-height: 1.6;
  }
  
  .about-container ul {
    list-style-type: none; /* Remove bullet points */
  padding-left: 0; /* Adjust padding */
    margin-top: 15px; /* Adjust margin */
  }
  
  .return-home-button {
    display: inline-block;
    padding: 12px 24px; /* Increase padding */
    font-size: 20px; /* Increase font size */
    background-color: #007bff; /* Blue color */
    color: #ffffff; /* White color */
    text-decoration: none;
    border-radius: 5px;
    margin-top: 30px; /* Increase margin */
  }
  
  .return-home-button:hover {
    background-color: #b30000; 
    color: #ffffff;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-gap: 30px; /* Increase gap between images */
  }
  
  .image-grid img {
    width: 100%; /* Make images take up full width */
    max-width: 100%; /* Ensure images don't exceed container width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px;
  }