.view-application-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
  }
  
  .approval-message {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 120px; 
  }
  
  .approval-message h1 {
    color: #007bff;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
  